<ion-header>
  <ion-navbar>
    <ion-title>
      Calculadora Simples
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Primeiro Número</ion-label>
      <ion-input type = "number" [(ngModel)] = "primeiroNumero" smart-float></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Segundo Número</ion-label>
      <ion-input type = "number" [(ngModel)] = "segundoNumero" smart-float></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button block (click) = "operacaoNumeros ('add')" icon-left>
        <ion-icon name = "add-circle"></ion-icon>
        Soma
      </button>
    </ion-item>

    <ion-item>
      <button ion-button block (click) = "operacaoNumeros ('sub')" icon-left>
        <ion-icon name = "remove"></ion-icon>
        Subtração
      </button>
    </ion-item>

    <ion-item>
      <button ion-button block (click) = "operacaoNumeros ('mul')" icon-left>
        <ion-icon name = "close-circle"></ion-icon>
        Multiplicação
      </button>
    </ion-item>

    <ion-item>
      <button ion-button block (click) = "operacaoNumeros ('div')" icon-left>
        <ion-icon name = "code-working"></ion-icon>
        Divisão
      </button>
    </ion-item>

  </ion-list>
</ion-content>
